body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
   
}

p {
    font-size: 20px;
    color: rgb(129, 126, 126);
}

.Top-Banner {
    width: 100%;
    text-align: center;
    color: whitesmoke;

}



.top-banner-bg {
    display: flex;
    align-items: center;
    height: 40rem;
    background-size: cover !important;
    margin: 0;
    border: 0;

}

.heading1{
font-size: 50px;
color: black
}

p{
    font-size: 17px;
    font-weight: 600px;
}

.header-btn{
    background-color: rgb(17, 17, 17);
    color: azure;
    padding: 15px 30px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 0;
}


main{
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.second-part{
    margin-top: 120px;
    margin-bottom: 120px;
    padding: 50px;
    background-color: #f7f2f2ae;
    border-radius: 5px;
}

.second-top{
    margin-bottom: 40px;
}


h1{
    font-weight: 600;
    font-size: 35px;
}
h2{
    color: rgb(99, 100, 103);
    font-weight: 600;
}

.swap{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    
    margin: 30px;
    background-color: white;
    border-radius: 7px;
}

#swap-2{
    justify-content: flex-start;
    gap: 50px
}

.learn-btn{
    padding: 10px 20px;
    background-color: white;
    color: rgb(125, 123, 123);
    font-size: 16px;
    font-weight: bold;
    border: 2px solid rgb(125, 123, 123);
    border-radius: 2px;
}

iframe{
    border-radius: 10px;
    padding: 30px;
    border: 2px solid rgb(190, 188, 188);
    margin-top: 20px;
}

/* forth-part */
.targets{
    display: flex;
    justify-content: space-between;
    gap: 30px;
   
}

.targets div{
    text-align: left;
    padding: 20px;
    border-radius: 10px;
}

.target-btn{
   
    color: black;
    font-weight: bold;
}
h3{
    font-size: 23px;
}

#t-1{
background-color: #fcebeb;
}

#t-2{
    background-color: rgb(241, 241, 255);
}

#t-3{
    background-color: #fffeec;
}

.fifth-part{
    padding: 40px;
    align-items: center;
    height: 13rem;
    background-size: cover !important;
    margin-top: 100px;
    border: 0;
    border-radius: 15px;
    
}

.fifth-part h3{
    color: white;
    font-size: 30px;
}

.fifth-part p{
    color:#f1f1eb;
    margin-bottom: 20px;
}

.fifth-part button{
border-radius: 8px;
padding: 13px 25px;
font-weight: 600;
background-color: white;
font-size: 18px;
border: 0;
}

input{
    padding: 15px 100px;
    border-radius: 8px;
    border: 0;
    margin-right: 8px;
    
}